<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">


	<servlet>
		<servlet-name>QuestionRegistServlet</servlet-name>
		<servlet-class>servlet.QuestionRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionRegistServlet</servlet-name>
		<url-pattern>/jsp/QuestionRegistServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetQuestionServlet</servlet-name>>
		<servlet-class>servlet.GetQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionServlet</servlet-name>
		<url-pattern>/jsp/GetQuestionServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuestionReadServlet</servlet-name>>
		<servlet-class>servlet.QuestionReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionReadServlet</servlet-name>
		<url-pattern>/jsp/QuestionReadServlet</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>AnswerRegistServlet</servlet-name>>
		<servlet-class>servlet.AnswerRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnswerRegistServlet</servlet-name>
		<url-pattern>/jsp/AnswerRegistServlet</url-pattern>
	</servlet-mapping>




</web-app>